name: back_button_interceptor
description: Back Button Interceptor. May be used to do stuff when the Android back-button is tapped, as an alternative to `WillPopScope`.
version: 7.0.0
# author: Marcelo Glasberg <marcglasberg@gmail.com>
homepage: https://github.com/marcglasberg/back_button_interceptor

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  collection: ^1.17.1
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

